<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="page">
        <header class="container">
            <div id="menu" class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header active">
                    <button class="btn btn-default navbar-toggle navbar-right" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="glyphicon glyphicon-collapse-down"></span>
                    </button>
                    <a href="~/LandingPage/Index"><h4>JimWeb</h4></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav"><a href="~/LandingPage/Index">Paladin</a></li>
                        <li class="nav"><a href="~/LandingPage/Index">Adventure Log</a></li>
                    </ul>
                </div>
            </div>
        </header>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
